*.ipynb
!library/notebooks/Using_a_SDK.ipynb
!library/notebooks/Meraki_Rate_Limiting_example.ipynb
!library/notebooks/DEVASC_API.ipynb
!library/notebooks/DEVASC_Authentication.ipynb
!library/notebooks/Cisco_Product_Authentication_*.ipynb
!library/notebooks/YANG_NETCONF_RESTCONF.ipynb
!library/notebooks/Introduction_to_Python.ipynb
#
# Ignore environment variable for the VS Code debugger
#
.env/*
!.env/README.md